.cache
.env
venv/
__pycache__/
.pytest*
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
*.db
*.db-*


downloads/
music_downloads/

/exports
/exports/
/migrations/
/.vscode

/rekordbox_library_exports/
settings.yml

/node_modules/
node_modules/

build/
out/
dist/

.spotipyoauthcache

ffmpeg/ffmpeg
ffmpeg/ffprobe
ffmpeg/ffprobe.exe
ffmpeg/ffmpeg.exe
/src/ffmpeg/ffmpeg
/src/ffmpeg/ffmpeg.exe
/src/ffmpeg/ffprobe
/src/ffmpeg/ffprobe.exe
/src/backend-flask/migrations/
PySync Hub.lnk
