.cache
.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
*.db

downloads/
music_downloads/

/exports
/exports/
/migrations/
/.vscode

/rekordbox_library_exports/
/settings.yml

/node_modules/
node_modules/

build/
out/
dist/

ffmpeg/ffmpeg
ffmpeg/ffprobe
ffmpeg/ffprobe.exe
ffmpeg/ffmpeg.exe