.cache
.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.idea/
*.db

/downloads/
/exports
/exports/
/migrations/
/.vscode
ffmpeg/ffprobe.exe
ffmpeg/ffmpeg.exe
/rekordbox_library_exports/
/settings.yml
