.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #eeeeee; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #dbdbdb; /* Scrollbar color */
  border-radius: 10px; /* Roundness of the scrollbar */
  border: 1px solid transparent; /* Space around the scrollbar */
  background-clip: content-box; /* Clip the background */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #949494; /* Scrollbar color on hover */
}
